# Ignores
!/Part1/lib/jflex-1.5.0.jar

# Byte code and other
*.swp
*.class

# Package Files #
*.jar
*.war
*.ear

/Part1/DocBuilder/nbproject/private/
/Part1/DocBuilder/build/
/Part1/DocBuilder/dist/

/Part1/AsdrClass/nbproject/private/
/Part1/AsdrClass/build/

